<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    </meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    </meta>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    </meta>
    <title>Trabalho BD</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    </link>
    <link href="../css/style.css" rel="stylesheet">
    </link>
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Trabalho BD</a>
        </div>
    </div>
</nav>

<div id="main" class="container-fluid">
    <br></br>
    <br></br>
    <h3 class="page-header">Editar Item</h3>

    <form action="/index.php/submit-edit/" method="get">
        <div class="row">
            <div class="form-group col-md-4">
                <label for="exampleInputEmail1">Nome</label>
                <input type="text" class="form-control" name="nome" id="nome"
                       th:field="*{user.nome}"> </input>
            </div>
            <div class="form-group col-md-4">
                <label for="exampleInputEmail1">Passaporte</label>
                <input type="text" class="form-control" name="passaporte" id="passaporte"
                       th:field="*{user.passaporte}">   </input>
            </div>
            <div class="form-group col-md-1">
                <label for="exampleInputEmail1">sexo</label>
                <input type="text" class="form-control" name="sexo" id="sexo"
                       th:field="*{user.sexo}"></input>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-3">
                <label for="exampleInputEmail1">Data nascimento</label>
                <input type="date" class="form-control" name="dataNasc" id="dataNasc"
                       th:field="*{user.nascimento}"></input>
            </div>
            <div class="form-group col-md-1">
                <label for="exampleInputEmail1">Altura</label>
                <input type="text" class="form-control" name="altura" id="altura"
                       th:field="*{user.altura}"></input>
            </div>
            <div class="form-group col-md-1">
                <label for="exampleInputEmail1">Peso</label>
                <input type="number" class="form-control" name="peso" id="peso"
                       th:field="*{user.peso}"></input>
            </div>
        </div>
        <div class="row">
            <select th:field="*{equipes}" class="selectpicker">
                <option th:each="equipe : ${equipes}" th:value="${equipe.nome}" th:text="${equipe.nome}">Equipes
                </option>
            </select>
        </div>

        <hr/>

        <div class="row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary">Atualizar</button>
                <a href="/usp/" class="btn btn-default">Cancelar</a>
            </div>
        </div>

    </form>
</div>


<script src="../application/js/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>
</html>