﻿<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    </meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    </meta>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    </meta>
    <title>Trabalho BD</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </link>
    <link href="../css/style.css" rel="stylesheet">
    </link>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Trabalho BD</a>
        </div>
    </div>
</nav>

<div id="main" class="container-fluid" style="margin-top: 50px">

    <div id="top" class="row">
        <div class="col-sm-3">
            <h2>Atletas</h2>
        </div>
        <div class="col-sm-6">
            <!-- -->
        </div>
        <div class="col-sm-3">
            <a href="add.html" class="btn btn-primary pull-right h2">Novo atleta</a>
        </div>
        <div class="col-sm-3">
            <a href="index.php/connect" class="btn btn-primary pull-right h2">Testar conexao</a>
        </div>
    </div>


    <hr/>
    <div id="list" class="row">

        <div class="table-responsive col-md-12">
            <table class="table table-striped" cellspacing="0" cellpadding="0">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Nascimento</th>
                    <th>Sexo</th>
                    <th class="actions">Ações</th>
                </tr>
                </thead>
                <tbody>
                <tr data-th-each="user : ${users}">
                    <td data-th-text="${user.id}"></td>
                    <td data-th-text="${user.nome}"></td>
                    <td data-th-text="${user.nascimento}"></td>
                    <td data-th-text="${user.sexo}"></td>
                    <td class="actions">
                        <a class="btn btn-success btn-xs" th:href="@{'/usp/view'(id=${user.id})}">Visualizar</a>
                        <a class="btn btn-warning btn-xs" th:href="@{'/usp/edit'(id=${user.id})}">Editar</a>
                        <a class="btn btn-danger btn-xs" th:href="@{'/usp/delete'(id=${user.id})}"
                           data-toggle="modal" data-target="#delete-modal">Excluir</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div> <!-- /#list -->
</div> <!-- /#main -->

<!-- Modal -->
<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modalLabel">Excluir Item</h4>
            </div>
            <div class="modal-body">
                Deseja realmente excluir este item?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Sim</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Não</button>
            </div>
        </div>
    </div>
</div>

<script src="../application/js/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>
</html>