﻿<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    </meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    </meta>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    </meta>
    <title>Trabalho BD</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    </link>
    <link href="../css/style.css" rel="stylesheet">
    </link>
</head>

<body>

<!-- Modal -->
<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modalLabel">Excluir Item</h4>
            </div>
            <div class="modal-body">
                Deseja realmente excluir este item?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Sim</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Não</button>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Trabalho BD</a>
        </div>
    </div>
</nav>

<div id="main" class="container-fluid">
    <br>   </br>
    <h3 class="page-header"></h3>

    <div class="row">
        <div class="col-md-4">
            <p><strong>Nome</strong></p>
            <p th:text="${user.nome}"></p>
        </div>

        <div class="col-md-4">
            <p><strong>Passaporte</strong></p>
            <p th:text="${user.passaporte}"></p>
        </div>

        <div class="col-md-4">
            <p><strong>Sexo</strong></p>
            <p th:text="${user.sexo}"></p>
        </div>

        <div class="col-md-4">
            <p><strong>Data nascimento</strong></p>
            <p th:text="${user.nascimento}"></p>
        </div>

        <div class="col-md-4">
            <p><strong>Altura</strong></p>
            <p th:text="${user.altura}"></p>
        </div>

        <div class="col-md-4">
            <p><strong>Peso</strong></p>
            <p th:text="${user.peso}"></p>
        </div>

        <div class="col-md-4">
            <p><strong>Equipe</strong></p>
            <p th:text="${user.equipe.nome}"></p>
        </div>
    </div>

    <hr/>
    <div id="actions" class="row">
        <div class="col-md-12">
            <a th:href="@{'/usp/edit'(id=${user.id})}" class="btn btn-default">Editar</a>
            <a th:href="@{'/usp/delete'(id=${user.id})}" class="btn btn-default" data-toggle="modal"
               data-target="#delete-modal">Excluir</a>
        </div>
    </div>
</div>

<script src="../application/js/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>
</html>